<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li>
                <f:if condition="{data.tx_mask_twitter}">
                    <f:link.typolink parameter="{data.tx_mask_twitter}" class="icon fa-twitter">&nbsp;</f:link.typolink>
                </f:if>
            </li>
            <li>
                <f:if condition="{data.tx_mask_github}">
                    <f:link.typolink parameter="{data.tx_mask_github}" class="icon fa-github">&nbsp;</f:link.typolink>
                </f:if>
            <li>
                <f:if condition="{data.tx_mask_busket}">
                    <f:link.typolink parameter="{data.tx_mask_busket}" class="icon fa-dribbble">&nbsp;</f:link.typolink>
                </f:if>
            </li>
            <li>
                <f:if condition="{data.tx_mask_email}">
                    <f:link.typolink parameter="{data.tx_mask_email}" class="icon fa-envelope-o">&nbsp;</f:link.typolink>
                </f:if>
            </li>
        </ul>
        <ul class="copyright">
            <li>© Untitled</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>
