<main xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">
		<flux:form id="blog">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
		</flux:form>
		<flux:grid>
			<!-- Edit this grid to change the "backend layout" structure -->
			<flux:grid.row>
				<flux:grid.column colPos="0" colspan="12" name="header" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="1" colspan="6" name="topmin1" />
				<flux:grid.column colPos="2" colspan="6" name="topmin2" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="3" colspan="8" name="main" />
				<flux:grid.column colPos="4" colspan="4" name="sidebar" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
			<v:content.render column="0" />
			<div class="row mb-2">
				<div class="col-md-6">
					<v:content.render column="1" />
				</div>
				<div class="col-md-6">
					<v:content.render column="2" />
				</div>
			</div>
		</div>
		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8 blog-main">
					<h3 class="pb-3 mb-4 font-italic border-bottom">
						From the Firehose
					</h3>
					<v:content.render column="3" />
				</div>
				<aside class="col-md-4 blog-sidebar">
					<v:content.render column="4" />
				</aside><!-- /.blog-sidebar -->
			</div>
		</main>
	</f:section>
</main>
