<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="General" />
<!--
	=====================
		Templates/News/DateMenu.html
-->

<f:section name="content">
	<div class="p-3">
		<h4 class="font-italic">Archives</h4>
		<ol class="list-unstyled mb-0">
			<f:for each="{data.single}" key="year" as="months">
				<f:for each="{months}" key="month" as="count">
						<li>
							<f:link.action pageUid="{listPid}" arguments="{overwriteDemand:{year: year, month: month}}"><f:translate key="month.{month}" /> {year}</f:link.action>
						</li>
				</f:for>
			</f:for>
		</ol>
	</div>
</f:section>
</html>