<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="about" label="About" options="{group: 'FCE'}">
            <flux:field.input label="Title" name="title" />
            <flux:field.text label="Description" name="description" enableRichText="1"/>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <b>Title: </b>{title}
        <br>
        <b>Description: </b><f:format.html>{description}</f:format.html>
        <br>
    </f:section>

    <f:section name="Main">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">{title}</h4>
            <p class="mb-0"><f:format.html>{description}</f:format.html></p>
        </div>
    </f:section>
</div>
