<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="elsewhere" label="Elsewhere" options="{group: 'FCE'}">
            <flux:form.section name="socials" label="Socials">
                <flux:form.object name="item" label="Social">
                    <flux:field.input name="title" label="Title"/>
                    <flux:field.input name="link" label="Link"/>
                </flux:form.object>
            </flux:form.section>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <b>Socials: </b>
        <f:for each="{socials}" as="social">
            <li><a href="{social.item.link}">{social.item.title}</a></li>
        </f:for>
    </f:section>

    <f:section name="Main">
        <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
                <f:for each="{socials}" as="social">
                    <li><a href="{social.item.link}">{social.item.title}</a></li>
                </f:for>
            </ol>
        </div>
    </f:section>
</div>
