{namespace news=Test\Blog\ViewHelpers\News}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <v:variable.set name="items" value="{news:list()}" />

        <flux:form id="topMinNews" label="Top Min News" options="{group: 'FCE'}">
            <flux:field.select name="item" items="{items}" />
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <v:variable.set name="news" value="{news:find(newsUid: item)}" />

        <b>Title: </b>{news.title}
        <br>
        <b>Teaser: </b>{news.teaser}
        <br>
    </f:section>

    <f:section name="Main">
        <v:variable.set name="news" value="{news:find(newsUid: item)}" />
        <v:variable.set name="settings.detailPid" value="13" />

        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">{news.categories.0.title}</strong>
                <h3 class="mb-0">
                    <n:link newsItem="{news}" class="text-dark" settings="{settings}" title="{newsItem.title}">
                        {news.title}
                    </n:link>
                </h3>
                <div class="mb-1 text-muted">{f:format.date(date: '{news.crdate}', format: 'M y')}</div>
                <p class="card-text mb-auto">{news.teaser}</p>
                <n:link newsItem="{news}" settings="{settings}" title="{newsItem.title}">
                    Continue reading
                </n:link>
            </div>
            <f:if condition="{news.falMedia}">
                <f:then>
                    <img class="card-img-right flex-auto d-none d-md-block" src="{v:uri.image(src: news.falMedia.0, quality:87, treatIdAsReference: 1)}" data-holder-rendered="true" style="width: 200px; height: 250px;">
                </f:then>
                <f:else>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16518c4c681%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16518c4c681%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
                </f:else>
            </f:if>
        </div>
    </f:section>
</div>
