{namespace news=Test\Blog\ViewHelpers\News}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <v:variable.set name="items" value="{news:list()}" />

        <flux:form id="topNews" label="Top News" options="{group: 'FCE'}">
            <flux:field.select name="item" items="{items}" />
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <v:variable.set name="news" value="{news:find(newsUid: item)}" />

        <b>Title: </b>{news.title}
        <br>
        <b>Teaser: </b>{news.teaser}
        <br>
    </f:section>

    <f:section name="Main">
        <v:variable.set name="news" value="{news:find(newsUid: item)}" />
        <v:variable.set name="settings.detailPid" value="13" />

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">{news.title}</h1>
                <p class="lead my-3">{news.teaser}</p>
                <p class="lead mb-0">
                    <n:link newsItem="{news}" class="text-white font-weight-bold" settings="{settings}" title="{newsItem.title}">
                        Continue reading
                    </n:link>
                </p>
            </div>
        </div>
    </f:section>
</div>
