<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="blog-post">
	<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
		<h2 class="blog-post-title">{newsItem.title}</h2>
	</n:link>
	<p class="blog-post-meta"><f:format.date format="M d, Y">{newsItem.datetime}</f:format.date> by <a href="#">{newsItem.author}</a></p>
	<f:format.html>{newsItem.bodytext}</f:format.html>
</div>
</html>